---
import LegalPage from '../components/LegalPage.astro';
---
<LegalPage title="Contact" kicker="Get in touch" locale="en">
  <p>Reach out: <a href="mailto:dahlem@migraine-aura-foundation.org">dahlem@migraine-aura-foundation.org</a></p>
</LegalPage>
