---
import LegalPage from '../../components/LegalPage.astro';
---
<LegalPage title="Kontakt" kicker="Kontakt aufnehmen" locale="de">
  <p>Schreibe an unser „Support-Team": <a href="mailto:dahlem@migraine-aura-foundation.org">dahlem@migraine-aura-foundation.org</a></p>
</LegalPage>
