<form id="brainstemAuraForm">
    <fieldset>
        <legend><strong>Brainstem Symptoms</strong></legend>

        <label
            ><input
                type="checkbox"
                name="brainstemSymptoms"
                value="dysarthria"
            />
            Slurred speech (Dysarthria)</label
        ><br />
        <label
            ><input type="checkbox" name="brainstemSymptoms" value="vertigo" />
            Vertigo (spinning sensation)</label
        ><br />
        <label
            ><input type="checkbox" name="brainstemSymptoms" value="tinnitus" />
            Tinnitus (ringing in the ears)</label
        ><br />
        <label
            ><input
                type="checkbox"
                name="brainstemSymptoms"
                value="hypacusis"
            />
            Reduced hearing (Hypacusis)</label
        ><br />
        <label
            ><input type="checkbox" name="brainstemSymptoms" value="diplopia" />
            Double vision (Diplopia)</label
        ><br />
        <label
            ><input type="checkbox" name="brainstemSymptoms" value="ataxia" />
            Loss of Coordination or Balance (Ataxia)</label
        ><br />
        <label
            ><input
                type="checkbox"
                name="brainstemSymptoms"
                value="consciousness"
            />
            Decreased Consciousness: (e.g., drowsiness, confusion)</label
        ><br />
        <label id="brainstemOtherLabel">
            <input type="checkbox" name="brainstemSymptoms" value="other" />
            Other Unusual Symptoms </label
        ><br /><br />

        <!-- ✅ New "none" option -->
        <label id="brainstemNoneLabel">
            <input type="checkbox" name="brainstemSymptoms" value="none" />
            None of the above </label
        ><br />

        <label
            id="brainstemOtherTextLabel"
            for="brainstemOtherText"
            style="display: none"
        >
            <strong>Other (please describe below):</strong>
        </label>
        <textarea
            id="brainstemOtherText"
            rows="2"
            maxlength="80"
            placeholder="Type here (max 80 characters)..."
            style="
                width: 100%;
                border: 1px solid #ccc;
                padding: 6px;
                display: none;
            "
        ></textarea>

        <div
            id="brainstemCharCount"
            style="font-size: 0.9em; color: #555; display: none"
        >
            0 / 80 characters
        </div>
    </fieldset>

    <br />
    <button type="button" class="btn" id="nextBrainstemBtn">Continue</button>
</form>

<script src="/js/brainstemAuraStep.js"></script>
