<form id="sensoryAuraForm">
    <fieldset>
        <legend><strong>Sensory Disturbances</strong></legend>

        <label
            ><input type="checkbox" name="sensorySymptom" value="tingling" />
            Pins‑and‑needles or tingling sensations</label
        ><br />
        <label
            ><input type="checkbox" name="sensorySymptom" value="numbness" />
            Numbness or “heavy” feeling in an arm, hand, face, or leg</label
        ><br />
        <label
            ><input type="checkbox" name="sensorySymptom" value="burning" />
            Burning or prickling sensations</label
        ><br />
        <label
            ><input type="checkbox" name="sensorySymptom" value="other" /> Other
            sensory changes (please describe below)</label
        ><br />
    </fieldset>

    <br />

    <label for="sensoryOtherText"><strong>Other (free-text):</strong></label
    ><br />
    <textarea id="sensoryOtherText" rows="3" style="width: 100%"></textarea>

    <br /><br />
    <button type="button" class="btn" id="nextSensoryBtn">Continue</button>
</form>
