<form id="speechAuraForm">
    <fieldset>
        <legend><strong>Speech & Language Difficulties</strong></legend>

        <label
            ><input type="checkbox" name="speechSymptom" value="aphasia" />
            Difficulty finding words (aphasia)</label
        ><br />
        <label
            ><input type="checkbox" name="speechSymptom" value="slurred" />
            Slurred or garbled speech</label
        ><br />
        <label
            ><input type="checkbox" name="speechSymptom" value="inability" />
            Inability to speak or form sentences</label
        ><br />
        <label
            ><input type="checkbox" name="speechSymptom" value="other" /> Other
            speech/language changes (please describe below)</label
        ><br />
    </fieldset>

    <br />

    <label for="speechOtherText"><strong>Other (free-text):</strong></label
    ><br />
    <textarea id="speechOtherText" rows="3" style="width: 100%"></textarea>

    <br /><br />
    <button type="button" class="btn" id="nextSpeechBtn">Continue</button>
</form>
