<form id="visualAuraForm">
    <fieldset>
        <legend><strong>Visual Symptoms</strong></legend>

        <label
            ><input type="checkbox" name="visualSymptom" value="flicker" />
            Shimmering or flickering lights</label
        ><br />

        <label
            ><input type="checkbox" name="visualSymptom" value="zigzag" />
            Zig‑zag or wavy lines</label
        ><br />

        <label
            ><input type="checkbox" name="visualSymptom" value="blurred" />
            Blurred or tunnel vision</label
        ><br />

        <label
            ><input type="checkbox" name="visualSymptom" value="scotoma" />
            Areas of partial loss of vision (“blind spots”/scotoma)</label
        ><br />

        <label
            ><input type="checkbox" name="visualSymptom" value="geometric" />
            Geometric shapes or patterns</label
        ><br />

        <label
            ><input type="checkbox" name="visualSymptom" value="other" /> Other
            visual phenomenon</label
        ><br />

        <textarea
            id="visualOtherDescription"
            rows="3"
            style="width: 100%; display: none"
            placeholder="Please describe..."
        ></textarea>
    </fieldset>

    <br />
    <button type="button" class="btn" id="nextVisualBtn">Continue</button>
</form>
